[core]
copyFrom: ROOT:/代码全局模板
maxHp: 1
price: 0
mass: 1000000

tags: ${tag}
@define tag: 效果单位

#隐藏单位本身
showInEditor: false
radius: 0
fogOfWarSightRange: 0
showOnMinimap: false
ignoreInUnitCapCalculation: true
disableAllUnitCollisions: true
isUnselectable: true
canNotBeDirectlyAttacked: true

disableDeathOnZeroHp: true

[graphics]
image: SHARED:blank.png
icon_zoomed_out_neverShow: true

[attack]
canAttack: false

[movement]
movementType: NONE
